@for $i from 1 through 4 {
  .gap-#{$i} {
    gap: #{$i}rem;
  }
}

.is-borderless {
  border: 0 !important;
}

.v-messages {
  font-size: 1rem !important;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.03125em !important;
  font-family: "Roboto", sans-serif !important;
  margin-top: 0;

  .v-messages__message {
    line-height: 1.5rem;
  }
}

/** 
  Prevent active v-fields from marking their deeply nested elements as active
  ================================================================================
*/
.v-field.v-field--active .v-label.v-field-label--floating {
  visibility: hidden;
}
.v-field--active.v-field--variant-outlined .v-field__outline__notch::before {
  opacity: var(--v-field-border-opacity);
}
.v-field--active .v-label.v-field-label {
  visibility: unset;
}


.v-field.v-field--active > .v-field__outline > .v-field__outline__notch > .v-label.v-field-label--floating {
  visibility: unset;
}
.v-field.v-field--active > .v-field__outline > .v-field__outline__notch::before {
  opacity: 0;
}
.v-field--active >.v-field__field > .v-label.v-field-label {
  visibility: hidden;
}
// ================================================================================